div{
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
}

.outer-box{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    padding: 1px;
}

.main-box{
    width:80%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
}

.main-table{
    width:100%;
    height:400px;
    background-color: white;
    border-radius: 15px;
}

.table-head{
    height: 12%;
    border-bottom: 2px solid cadetblue;
    text-align:center;
}

.table-main{
    height:30%;
    border-bottom: 2px solid cadetblue;
}

.main-img{
    width:100%;
    height:120px;
}

.main-align{
    text-align: right;
    margin-right: 20px;
}

.btn{
    cursor: pointer;
}
.btn:hover{
    background-color: green;
}
.btn:focus{
    background-color: blue;
    color:white;
}
.btn:active{
    background-color: blueviolet;
}

.input-test:focus{
    background-color: red;
}

.mylink{
    text-decoration: none;
}
.mtlink:link{
    color:black
}
.mylink:visited{
    color:aqua
}
.mylink:hover{
    color:azure;
}
.mylink:active{
    color:black;
}